.vote-btn {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 700;
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: #ed1b2f;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.vote-btn:hover {
  background-color: #c8102e;
}
